.heading{
    font-size:20px;
    width:100%;
    margin:0px;
}
.note{
    font-size:15px;
    color: black;
}
body
{
    background-image: url("background.jpg");
	background-size:cover;
}
.img_class{
    width: 200px;
    height:200px;
    border-radius: 100px;
}
.div_speed{
    float:left;
}
.div_volume{
    float: right;
}
canvas{
    animation-name:secret;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes secret{
    from{box-shadow: 10px 10px 10px green;}
    to{box-shadow: 10px 10px 10px orange inset;}
}
#play{
    font-size:25px;
    width:100px;
}
#note2{
    color:white;
    background-color: black;
    width:200px;
}